.bread-bottom {
    width: 90%;
    height: 10%;
    background: linear-gradient(#f08e4a, #e27b36);
    box-shadow: inset -35px 0 #bd5b19;
    border-radius: 0 0 30px 30px;
    
}

.bread-bottom::before {
    content: '';
    position: absolute;
    width: 400px;
    margin-left: -22.5px;
    margin-top: -50px;
    height: 150px;
    background: #732a0e;
    border-radius: 45%;
    z-index: -1;
}